
*{
	background-color: #49402d
}
#header{
	width:100%;
	height:125px;
	background-color:#4A6A89;/*ERMAHGERDHAX*/
	position:relative;
}
#doge{
	padding:12.5px;
}
body{
	padding:0px;
	margin:0px;
	background-color:#E8F3FF;
}
#mini1{
	position:relative;
	float:left;
	width:25%;
	height:100px;
	background-color:#2980b9;
}
#mini2{
	position:relative;
	float:left;
	width:25%;
	height:100px;
	background-color:#2980b9;
}
#mini3{
	position:relative;
	float:left;
	width:25%;
	height:100px;
	background-color:#2980b9;
}
#footer{
	margin-top: 500px;
	width:100%;
	height:75px;
	background-color:#4A6A89;
}